.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #66D19E;
    padding: 10px 20px;
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar-links li {
    cursor: pointer;
}

.navbar-login {
    background-color: transparent;
    border: 1px solid black;
    padding: 10px 20px; 
    cursor: pointer;
    border-radius: 16px;
    font-size: 16px; 
}
