.password {
    position: relative;
    margin-top: 20px;
}

.icon {
    position: absolute;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
}

.input {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    font-size: 12px;
    background: #f0f2f5;
}