/* .nitroeef {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0 auto; /* Ensure it takes up at least the full viewport height */
 */

.add-contribution {
  padding: 20px;
  background-color: #88b488a7;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width:415px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-contribution h2 {
  text-align: center;
  margin-bottom: 20px;
}

.add-contribution form {
  display: flex;
  flex-direction: column;
}

.add-contribution form div {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.add-contribution form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.add-contribution form input,
.add-contribution form select,
.add-contribution form textarea {
  padding: 7px 17px;
  border-radius: 7px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-top: 5px;
}

.add-contribution form button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.add-contribution form button:hover {
  background-color: #0056b3;
}

.texttroy {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; /* allows vertical resizing */
  font-size: 16px;
}

textarea:focus {
  border-color: #4CAF50; /* or any color you prefer */
  outline: none;
}
