.dashboard {
  display: flex;
  flex-direction: column;
  padding: 4rem
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.stat-card {
  flex: 1;
  padding: 20px;
  margin: 0 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.icon {
  font-size: 24px;
  margin-right: 10px;
}

.stat-info h3 {
  margin: 0;
  font-size: 18px;
}

.stat-info p {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.members-list {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.members-list h2 {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}

button {
  padding: 10px 15px;
  background-color: #1aff00a5;
  border: none;
  border-radius: 4px;
  color: black;
  cursor: pointer;
}

button.two{
  background: red;
  margin-left: 1rem;
  color: black;
}

.bu {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.bu.ed {
  color: #007bff;
}

.bu.del {
  color: #dc3545;
}

.bu:hover {
  opacity: 0.8;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-content h2 {
  margin-bottom: 10px;
}

.modal-content form div {
  margin-bottom: 10px;

}

.modal-content label {
  display: block;
  /* margin-bottom: 5px; */
  
}

.modal-content input {
  width: 95%;
  padding: 5px;
  /* margin-bottom: 10px; */
  border: 2px solid;
  border-radius: 6px;
}

.modal-content span{
  color: red;
  font-size: 35px;
  margin-left: 90%;
  cursor: pointer;
}

/* App.css */

.app {
  display: flex;
}

.content {
  padding: 20px;
  flex-grow: 1;
}

.contrib {
  background-color: #f9f9f9; /* Light background color */
  border: 1px solid #ddd; /* Light border color */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 20px; /* Padding inside the box */
  max-width: 400px; /* Max width for the box */
  margin: 0 auto; /* Center the box */
}

.contrib h3 {
  margin-top: 0; 
  font-size: 1.5em; 
  color: #333; 
}

.contrib ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.contrib li {
  background-color: #fff; 
  border: 1px solid #ddd; 
  border-radius: 4px; 
  padding: 10px; 
  margin-bottom: 10px; 
  font-size: 1.1em;
  color: #555;
}

.contrib li:last-child {
  margin-bottom: 0; /* Remove bottom margin from the last item */
}
