.ContributionList {
  display: flex;
  gap: 2rem;
}

.bodeleyi {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
}

.contribution-list {
  max-width: 1200px; /* Increased max-width for wider display */
  margin: 0 auto;
  padding: 20px;

  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
}
