body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.navs {
  display: flex;
  justify-content: space-between;
}

.notif {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.main-content {
  flex: 1;
  padding: 20px;
  /* direction: flex; */
}
header {
  margin-top: 50px;
}
.welcome {
  font-size: 18px;
}

.welcome .username {
  color: #5c30d9;
}
/* .wallet {
    color: #218838;
  } */

.wallet {
  background-color: #218838;
  /* display: flex; */
  color: #f5f5f5;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
}

.wallet .add-fund {
  background-color: #d1520b;
  display: start;
  color: white;
  border: none;
  padding: 10px 20px;
  /* margin-left: 10px; */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.wallet .add-fund:hover {
  background-color: #218838;
}

.requirements-section {
  display: flex;
  gap: 40px;
}

.requirements{
  width: 50%;
}

.requirements h3 {
  margin-bottom: 10px;
}

.requirements ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.requirements ul li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}

.requirements .status {
  font-size: 14px;
}

.requirements .status.pending {
  color: black;
}

.need-help {
  padding: 20px;
  padding-left: 60px;
  flex-grow: 1;
}

.need-help-img{
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
