
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.app {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
}

.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
 
}

.dashboard .earnings > .earn {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #0ead69;
}
.dashboard .contributed > .contribute {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #590240;
}

.dashboard .earnings,
.dashboard .contributed {
  font-family: "Poppins", sans-serif;
  background-color: #dcfaed;
  padding: 50px;
  border-radius: 10px;
  width: 300px;
  margin-top: 70px;
  font-weight: 400;
}

.pay {
  display: flex;
  flex-direction: row;
  /* width: 100%; */
}

.payment-history {
  font-family: "Poppins", sans-serif;
  padding: 10px;
  width: 100%;
}

.payment-history > h1 {
  display: flex;
  justify-content: center;

 .payment-history {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  width:100%;
  align-items: center;
justify-content: center;
}

.payment-history h1 {
  text-align: center;

  margin-top: 50px;
}

.payment-history .filters {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
}

.payment-history .filters .btn {

  width: 150px;
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid #000;
  background-color: transparent;
  color: #000;
  cursor: pointer;
  margin-top: 20px;
}

.payment-history .filters .btn:hover {
  background-color: #dcfaed;
}

.payment-history table {
  font-family: "Poppins", sans-serif;
  line-height: 50px;
  width: 60%;
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 70px;
  text-align: center;
}

.payment-history table th {
  background-color: #d8e4dfee;
  padding: 8px;
  align-items: center;
}

.payment-history table td {
  background-color: #f3f4f6;

  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 20px;
  background-color: transparent;
  color: #000;
  cursor: pointer;
}

.payment-history .filters .btn:hover {
  background-color: #DCFAED;
}

.payment-history table {
  width: 445px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.payment-history table th,
.payment-history table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.payment-history table th {
  background-color: #f3f4f6;
  font-weight: bold;

}

.payment-history table .received {
  color: #0ead69;
}

.payment-history table .sent {
  color: #590240;
}
