  .main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 15px 10px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px;
    border-radius: 10px;
    background-color: #DCFAED;
  }
  
  .btn {
   display: flex;
   gap: 30px;
  }

  .btn2 {
    padding: 10px 25px;
    background-color: #FFFFFF;
    border: 1px solid #000;
    border-radius: 20px;
    color: #222222E5;
    cursor: pointer;
  }

  .table-wrapper {
      justify-content: center;
      padding: 8px;
      border-radius: 10px;
      background-color: #DCFAED;
      }
      
      table {
        /* display: grid;
        grid-template-columns: 1fr, 1fr, 1fr; */
      width: 70%;
    background-color: palevioletred;
  }

  table > thead {
    background-color: #e1d6ebd5;
   height: 50px;
   width: 70%;
  }