.footer {
    background-color: #69D8AB;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    list-style: none;
  }
  
  .save,.quick-links,.pages{
    margin: 15px;
   } 
   
  
  ul {
    list-style: none;
    padding: 0;
    text-decoration: none;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    color: #000000;
    text-decoration: none;
  }
  p{
 
        margin-bottom: 10px;
      margin-left: -35px;
      
  }