body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  form {
    max-width: 30%;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  input {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px 15px;
    background-color: #0EAD69;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }

  .remember-me{
    display: flex;
    text-align: center;
    gap: 30px;
  }
  .recover{
    margin-left:45%;
    color: red;
  }
  